Workshop_0/Jupyterlab/JupyterLab-Setup-Debian.deb
Workshop_0/Jupyterlab/JupyterLab-Setup-macOS-arm64.dmg
Workshop_1/Data/Group_T/Fastq/ERR2663712_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663727_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663855_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663727_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663897_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663709_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663516_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663827_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663694_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663709_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663549_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663894_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663611_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663930_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663756_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663496_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663989_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663897_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663930_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663855_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663594_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663754_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663549_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663611_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663982_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663894_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663982_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663997_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663648_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663594_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663516_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663648_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663712_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663997_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663827_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663989_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663496_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663756_2.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663754_1.fastq.gz
Workshop_1/Data/Group_T/Fastq/ERR2663694_1.fastq.gz
Workshop_1/Data/SPN_0140/5_Mapping/SPN_0140.sorted.bam
Workshop_1/Data/SPN_0140/5_Mapping/SPN_0140.sam.gz
Workshop_1/Data/SPN_0140/5_Mapping/SPN_0140.bam
Workshop_1/Data/SPN_0140/5_Mapping/SPN_0140.bam.gz
Workshop_1/Data/SPN_0140/1_RawData/SPN_0140_GPS_S122_L001_R1_001.fastq.gz
Workshop_1/Data/SPN_0140/1_RawData/SPN_0140_GPS_S122_L001_R1_001.fastq
Workshop_1/Data/SPN_0140/1_RawData/SPN_0140_GPS_S122_L001_R2_001.fastq.gz
Workshop_1/Data/SPN_0140/3_Unicycler/pilon_polish/1_paired_alignments.sam
Workshop_1/Data/SPN_0140/3_Unicycler/pilon_polish/0_alignments.sam
Workshop_1/Data/SPN_0140/2_PreProcess/2_Trimmomatic/SPN_0140_R2_TrmP.fastq.gz
Workshop_1/Data/SPN_0140/2_PreProcess/2_Trimmomatic/SPN_0140_R1_TrmP.fastq.gz
Workshop_1/Unicycler_Assembly/out_assembly/spades_assembly/corrected_2.fastq.gz
Workshop_1/Unicycler_Assembly/out_assembly/spades_assembly/corrected_1.fastq.gz
Workshop_1/Unicycler_Assembly/ERR2663496_assembly/pilon_polish/1_paired_alignments.sam
Workshop_1/Consensus/ERR2663496.bam
Workshop_1/Consensus/ERR2663496.sam
Workshop_1/Consensus/ERR2663496.sorted.bam
